
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STVK | Hotel</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/sona-master/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <div class="search-icon  search-switch">
            <i class="icon_search"></i>
        </div>
        <div class="header-configure-area">
            <div class="language-option">
                <img src="~/sona-master/img/covietnam.png" class="rounded-0"
                     style="width: 30px; height: 20px; margin-bottom: 3px" alt="">
                <span>VIE </span>
            </div>

            <a href="#" class="bk-btn">Booking Now</a>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Trang chủ</a></li>
                <li><a href="./rooms.html">Phòng</a></li>
                <li><a href="./about-us.html">Về chúng tôi</a></li>
                <li>
                    <a href="./pages.html">Pages</a>
                    <ul class="dropdown">
                        <li><a href="./room-details.html">Phòng</a></li>
                        <li><a href="#">Deluxe Room</a></li>
                        <li><a href="#">Family Room</a></li>
                        <li><a href="#">Premium Room</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Tin tức</a></li>
                <li><a href="./contact.html">Liên hệ</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-tripadvisor"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i>02343.898.242</li>
            <li><i class="fa fa-phone"></i>02343.898.222</li>
            <li><i class="fa fa-envelope"></i>stvkbooking@gmail.com</li>
            <li><i class="fa fa-envelope"></i>stvkchamsockhachhang@gmail.com</li>
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left" style=" margin-top: -5px; margin-bottom: -25px;">
                            <li>
                                <i class="fa fa-phone"></i>02343.898.242
                                <br><i class="fa fa-phone"></i>02343.898.222
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>stvkbooking@gmail.com
                                <br><i class="fa fa-envelope"></i>stvkchamsockhachhang@gmail.com
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="bk-btn">Đặt phòng ngay</a>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart">Cart (<span class="total-count"></span>)</button>
                            <div class="language-option">
                                <img src="~/sona-master/img/covietnam.png" class="rounded-0"
                                     style="width: 30px; height: 20px; margin-bottom: 3px" alt="">
                                <span>VIE</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Cart-->
        <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel"> </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="show-cart table">
                            <thead>
                                <tr>
                                    <th>Tên Phòng</th>
                                    <th>Giá tiền</th>
                                    <th>Số đêm</th>
                                    <th>Tổng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <div>Total price: $<span class="total-cart"></span></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Order now</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- partial -->
        <hr />
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="~/sona-master/img/logohotel.png" alt="" style="margin-bottom: -21px; margin-top: -28px; }">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active"><a href="./index.html">Trang chủ</a></li>
                                    <li><a asp-controller="Home" asp-action="ViewTypeOfRooms">Phòng</a></li>
                                    <li><a href="./about-us.html">Về chúng tôi</a></li>
                                    <li>
                                        <a href="./pages.html">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="./room-details.html">Room Details</a></li>
                                            <li><a href="./blog-details.html">Blog Details</a></li>
                                            <li><a href="#">Family Room</a></li>
                                            <li><a href="#">Premium Room</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="./blog.html">Tin tức</a></li>
                                    <li><a href="./contact.html">Liên hệ</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Hero Section Begin -->
    <!-- Hero Section End -->
    <!-- About Us Section Begin -->

    @RenderBody()
    <!-- Services Section End -->
    <!-- Home Room Section Begin -->
    <!-- Blog Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="~/sona-master/img/logobig.JPG" alt="">
                                </a>
                            </div>
                            <p>Chúng tôi tự hào là khách sạn có<br />chất lượng hàng đầu tại Thành phố Huế</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Thông tin liên hệ</h6>
                            <ul>
                                <li><i class="fa fa-angellist"></i>  02343.898.242</li>
                                <li><i class="fa fa-angellist"></i>  stvkbooking@gmail.com</li>
                                <li><i class="fa fa-angellist"></i>  28 Nguyễn Tri Phương, Phú Hội, Thành phố Huế, Thừa Thiên Huế, Việt Nam</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>Tin cập nhật</h6>
                            <p>Cập nhật thông tin mới nhất về khách sạn và các ưu đãi</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Chính sách sử dụng</a></li>
                            <li><a href="#">Bảo mật và điều khoản</a></li>
                            <li><a href="#">Chính sách môi trường</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
                                <i class="fa fa-heart" aria-hidden="true"></i> by STVK
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    <script src="~/sona-master/js/jquery-3.3.1.min.js"></script>
    <script src="~/sona-master/js/bootstrap.min.js"></script>
    <script src="~/sona-master/js/jquery.magnific-popup.min.js"></script>
    <script src="~/sona-master/js/jquery.nice-select.min.js"></script>
    <script src="~/sona-master/js/jquery-ui.min.js"></script>
    <script src="~/sona-master/js/jquery.slicknav.js"></script>
    <script src="~/sona-master/js/owl.carousel.min.js"></script>
    <script src="~/sona-master/js/main.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>