@{
    ViewData["Title"] = "Room page";
    Layout = "_LayoutAdmin";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<div class=" row text-center">
    <a href="javascript:void(0);" class="btn btn-info" onclick="room.openModal()">Thêm phòng</a>

    <table id="tbRoom" class="table table-bordered mt-2">
        <thead class="thead-dark">
            <tr>               
                <th>Tên phòng</th>
                <th>Trạng thái</th>
                <th>Loại phòng</th>
                <th>Mô tả</th>
                <th>Diện tích (m2)</th>
                <th>Ngày tạo</th>
                <th>Ngày sửa đổi</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<!-- The Modal -->
<div class="modal" id="addEditRoomModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><strong>THÊM PHÒNG</strong></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="frmAddEditRoom">
                    <input hidden name="RoomId" id="RoomId" value="0" />
                    <div class="row form-group">
                        <label for="Name" class="col-3"><strong>Tên phòng:</strong></label>
                        <div class="col-9">
                            <input type="number" class="form-control" placeholder="Tên phòng"
                                   id="Name" name="Name"
                                   data-rule-required="true"
                                   data-msg-required="Tên phòng là trường bắt buộc">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="Status" class="col-3"><strong>Trạng thái:</strong></label>
                        <div class="col-9">
                            <select class="form-control" id="Status" name="Status">
                                <option>--Chọn--</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="TypeOfRoomId" class="col-3"><strong>Loại phòng:</strong></label>
                        <div class="col-9">
                            <select class="form-control" id="TypeOfRoomId" name="TypeOfRoomId">
                                <option>--Chọn--</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="Description" class="col-3"><strong>Mô tả:</strong></label>
                        <div class="col-9">
                            <input type="text" class="form-control" placeholder="Mô tả"
                                   id="Description" name="Description"
                                   data-rule-required="true"
                                   data-msg-required="Mô tả là trường bắt buộc">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="Size" class="col-3"><strong>Kích thước:</strong></label>
                        <div class="col-9">
                            <input type="number" class="form-control" placeholder="Kích thước"
                                   id="Size" name="Size"
                                   data-rule-required="true"
                                   data-msg-required="Kích thước là trường bắt buộc">
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-success" onclick="room.save()">Save</a>
                <button id="Close" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="~/js/Room.js" asp-append-version="true"></script>
}