﻿@{
    Layout = "_LayoutAdmin";
}
<div class=" row">

    <table id="tbBooking" class="table table-bordered mt-2">
        <thead class="thead-dark" style="text-align:center">
            <tr>
                <th>roomId</th>
                <th>customerId</th>
                <th>amountNight</th>
                <th>checkInStr</th>
                <th>checkOutStr</th>
                <th>createDateStr</th>
                <th>status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody style="text-align:center">
        </tbody>
    </table>
</div>

<div class="modal" id="addEditBookingModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chỉnh Sửa Booking</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="frmAddEditBooking">
                    <input hidden name="id" id="id" value="0" />
                    <input hidden name="roomId" id="roomId" value="0" />
                    <input hidden name="customerId" id="customerId" value="0" />
                    <div class="row form-group">
                        <label for="room" class="col-3">Phòng:</label>
                        <div class="col-9">
                            <select class="form-control" id="room" name="room">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="Duration" class="col-3">Khách Hàng:</label>
                        <div class="col-9">
                            <input type="text" class="form-control"
                                   id="customerName" name="customerName"
                                   data-rule-required="true"
                                   data-msg-required="Duration is required">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="Duration" class="col-3">Số Ngày Đặt Phòng:</label>
                        <div class="col-9">
                            <input type="number" class="form-control"
                                   id="amountNight" name="amountNight"
                                   data-rule-required="true"
                                   data-msg-required="Duration is required"
                                   data-rule-range="2,8"
                                   data-msg-range="Duration between 2 and 8.">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="Duration" class="col-3">Ngày Check-in:</label>
                        <div class="col-9">
                            <input type="date" class="form-control"
                                   id="checkin" name="amountNight"
                                   data-rule-required="true"
                                   data-msg-required="Duration is required">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="Duration" class="col-3">Ngày Check-out:</label>
                        <div class="col-9">
                            <input type="date" class="form-control"
                                   id="checkout" name="amountNight"
                                   data-rule-required="true"
                                   data-msg-required="Duration is required">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="Status" class="col-3">Trạng Thái:</label>
                        <div class="col-9">
                            <select class="form-control" id="Status" name="Status">
                            </select>
                        </div>
                    </div>
                </form>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-success" onclick="booking.save()">Save</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeButton">Close</button>
            </div>

        </div>
    </div>
</div>

<script src="~/js/booking.js"></script>

