

<div class=" row">
    <a href="javascript:void(0);" class="btn btn-info" onclick="module.openModal()">Create</a>

    <table id="tbModule" class="table table-bordered mt-2">
        <thead class="thead-dark">
            <tr>
                <th>Module Id</th>
                <th>Module Name</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>