﻿@{
    Layout = "_LayoutAdmin";
}
<div class="row text-center">
    <a href="javascript:void(0);" class="btn btn-info" onclick="booking.openModal()">Tạo Booking</a>
    <table id="tbBooking" class="table table-bordered mt-2">
        <thead class="thead-dark" style="text-align:center">
            <tr>
                <th>Mã khách hàng</th>                
                <th>Ngày nhận phòng</th>
                <th>Ngày trả phòng</th>
                <th>Ngày tạo</th>
                <th>Trạng thái</th>
                <th>Giá phòng</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody style="text-align:center">
        </tbody>
    </table>
</div>

<div class="modal" id="addEditBookingModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Booking</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="frmAddEditBooking">
                    <input hidden name="id" id="id" value="0" />
                    <input hidden name="customerId" id="customerId" value="0" />
                  
                    <div class="row form-group">
                        <label for="CustomerName" class="col-3">Mã Khách Hàng:</label>
                        <div class="col-9">
                            <input type="text" class="form-control"
                                   id="customerName" name="customerName"
                                   data-rule-required="true"
                                   data-msg-required="Duration is required">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="CheckIn" class="col-3">Ngày nhận phòng:</label>
                        <div class="col-9">
                            <input type="date" class="form-control"
                                   id="checkin" name="amountNight"
                                   data-rule-required="true"
                                   data-msg-required="Ngày nhận phòng là bắt buộc">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="CheckOut" class="col-3">Ngày trả phòng:</label>
                        <div class="col-9">
                            <input type="date" class="form-control"
                                   id="checkout" name="amountNight"
                                   data-rule-required="true"
                                   data-msg-required="Ngày trả phòng là bắt buộc">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="Status" class="col-3">Trạng Thái:</label>
                        <div class="col-9">
                            <select class="form-control" id="Status" name="Status">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="totalPrice" class="col-3">Giá phòng:</label>
                        <div class="col-9">
                            <input type="text" class="form-control"
                                   id="totalPrice" name="totalPrice"
                                   data-rule-required="true"
                                   data-msg-required="Duration is required">
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-success" onclick="booking.save()">Save</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeButton">Close</button>
            </div>

        </div>
    </div>
</div>

<script src="~/js/booking.js" asp-append-version="true"></script>

