@model DatPhongDiWeb.Models.TypeOfRoom.CheckAvailable
@{
    Layout = "_LayoutThemesHotelBootraps";
}

<!-- Hero Section End -->
<!-- About Us Section Begin -->
<!-- banner -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1 style="color: lawngreen">STVK Hotel</h1>
                    <p style="color: black; font-size: 150%; line-height: 1">
                        Đừng chần chờ gì nữa! Hãy đặt niềm tin của bạn cho chúng tôi. Bạn sẽ không phải thất vọng về chất lượng của khách sạn STVK đem lại.
                        Booking ngay để nhận những ưu đãi chưa từng có!
                    </p>
                    <a href="#" class="primary-btn" style="color: black; font-size: 150%; text-decoration: none;">Khám phá bây giờ</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                @await Html.PartialAsync("_FormCheckAvailable", new DatPhongDiWeb.Models.TypeOfRoom.CheckAvailable()
                {
                    CheckIn = DateTime.Today,
                    CheckOut = DateTime.Today.AddDays(1)
                })
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/sona-master/img/banner5.jpeg"></div>
        <div class="hs-item set-bg" data-setbg="/sona-master/img/banner2.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/sona-master/img/banner3.jpg"></div>
    </div>
</section>
<!--end banner -->

<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>Về chúng tôi</span>
                        <h2>STVK<br />Khách sạn tốt nhất thành phố Huế</h2>
                    </div>
                    <p class="f-para">
                        Tọa lạc trên đường Nguyễn Tri Phương, STVK là khách sạn tại Huế có vị trí thuận tiện nhất để đến với các khu du lịch và giải trí nổi bật của thành phố.
                        Khách sạn gồm 154 phòng theo tiêu chuẩn 4 sao quốc tế, có tầm nhìn biển, wi-fi miễn phí và ban công đảm bảo sự riêng tư. Hãy trải nghiệm dịch vụ cao cấp từ nhà hàng của chúng tôi với buffet theo chủ đề, đến hồ bơi, bãi biển hoặc thư giãn với trung tâm spa và phòng tập thể dục.
                    </p>
                    <p class="s-para">
                        Chúng tôi đã sẵn sàng để giúp quý khách tận hưởng trọn vẹn kỳ nghỉ của mình tại khách sạn 4 sao tốt nhất tại Huế.
                    </p>
                    <a href="#" class="primary-btn about-btn" style="text-decoration: none;">Xem thêm</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div></div>
                        <img style="height: 500px; width: 669px" src="~/sona-master/img/view1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Chúng tôi có những gì?</span>
                    <h2>Khám phá dịch vụ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-036-parking"></i>
                    <h4>Khám phá thành phố</h4>
                    <p>
                        Từ các danh thắng nổi tiếng cho đến các di tích lịch sử, hãy hứa rằng bạn sẽ khám phá “tất tần tật” nét đẹp của vùng đất Cố đô này nhé!
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-033-dinner"></i>
                    <h4>Nhà hàng</h4>
                    <p>
                        Từ món ăn đến lối kiến trúc đều toát lên vẻ truyền thống, mộc mạc và giản dị. Ẩm thực của nhà hàng chúng tôi đa dạng, phong phú. Mỗi món ăn đều mang hương vị đặc trưng riêng biệt rất “Việt Nam”.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-017-sunbed"></i>
                    <h4>Hồ bơi</h4>
                    <p>
                        Hồ bơi được thiết kế đẹp mắt, xung quanh là những chiếc ghế đệm để quý khách nghỉ ngơi. Và đặc biệt hơn, từ hồ bơi, du khách có thể phóng tầm mắt hướng về phía mọi nơi ở thành phố. Tất cả đều ghép lên bức tranh đẹp mơ màng, không ai nỡ cơ hội để chiêm ngưỡng và ghi nhớ.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-027-mirror"></i>
                    <h4>Spa</h4>
                    <p>
                        Giúp cơ thể quý khách giảm đau, giảm nhức mỏi tế bào cơ. Các chuyên gia massage của chúng tôi sẽ sử dụng kết hợp với một số loại tinh dầu để khách hàng cảm thấy thư thái, dễ chịu hơn.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-035-eight-ball"></i>
                    <h4>Khu vực giải trí</h4>
                    <p>
                        Khu vui chơi giải trí khách sạn được thiết kế hiện đại với hơn 40 trò chơi đủ mọi cấp độ đáp ứng nhu cầu vui chơi của nhiều quý khách, từ trò chơi cảm giác mạnh, trò chơi khám phá cho đến  trò chơi dân gian, trò chơi phổ thông.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-012-cocktail"></i>
                    <h4>Bar & Drink</h4>
                    <p>
                        Nằm trên tầng thượng của khách sạn, bar STVK tự hào mang tới quý khách tầm nhìn toàn cảnh tuyệt đẹp của thành phố, đặc biệt là sông Hương, là nơi quý khách thả mình thư giãn và thưởng thức những ly cocktail đặc biệt thú vị.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hp-room-section">
    <div class="container-fluid">
        <div class="hp-room-items">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/sona-master/img/room/room-b1.jpg">
                        <div class="hr-text">
                            <h3 style="font-family: Palatino, serif; color: #66FF33">Phòng Đơn</h3>
                            <h2>800.000đ<span>/Đêm</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Kích cỡ phòng</td>
                                        <td>25m2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số lượng</td>
                                        <td>Tối đa 2 người</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Giường ngủ:</td>
                                        <td>Normal Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Tivi, Phòng tắm,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/sona-master/img/room/room-b2.jpg">
                        <div class="hr-text">
                            <h3 style="font-family: Palatino, serif; color: #66FF33">Phòng Đôi</h3>
                            <h2>1.000.000đ<span>/Đêm</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Kích cỡ phòng</td>
                                        <td>30m2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số lượng</td>
                                        <td>Tối đa 4 người</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Giường ngủ:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Tivi, Phòng tắm,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/sona-master/img/room/room-b3.jpg">
                        <div class="hr-text">
                            <h3 style="font-family: Palatino, serif; color: #66FF33">Phòng Gia Đình</h3>
                            <h2>1.500.000đ<span>/Đêm</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Kích cỡ phòng</td>
                                        <td>40m2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số lượng</td>
                                        <td>Tối đa 6 người</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Giường ngủ:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Tivi, Phòng tắm,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/sona-master/img/room/room-b4.jpg">
                        <div class="hr-text">
                            <h3 style="font-family: Palatino, serif; color: #66FF33">Phòng VIP</h3>
                            <h2>2.000.000đ<span>/Đêm</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Kích cỡ phòng</td>
                                        <td>50m2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số lượng</td>
                                        <td>Tối đa 5 người</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Giường ngủ:</td>
                                        <td>VIP Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Tivi, Phòng tắm,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Tin tức</span>
                    <h3>Sự kiện và hoạt động</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/dainoihue.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Du lịch</span>
                        <h4><a style="color: #00FA9A" href="#">Vòng quanh Thành phố Huế</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 26 tháng 11 năm 2020</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/quaybar.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Tri ân</span>
                        <h4><a style="color: #00FA9A" href="#">Buổi tiệc tại quầy Bar STVK</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 20 tháng 11 năm 2020</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/am-thuc-tai-hue.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Ưu đãi</span>
                        <h4><a style="color: #00FA9A" href="#">Giảm giá tới 50% toàn bộ món ăn tại khách sạn</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 20 tháng 10 năm 2020</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog-item small-size set-bg" data-setbg="/sona-master/img/top5.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Tiêu điểm</span>
                        <h4><a style="color: #00FA9A" href="#">STVK Hotel vào top khách sạn có chất lượng dịch vụ hàng đầu tại Việt Nam</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 25 tháng 11 năm 2018</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item small-size set-bg" data-setbg="/sona-master/img/cuutro.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Hoạt động xã hội</span>
                        <h4><a style="color: #00FA9A" href="#">Hỗ trợ đồng bão miền Trung sau Bão Linfa</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 10 tháng 10 năm 2020</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>