
@{
    Layout = "_LayoutThemesHotelBootraps";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Phòng của chúng tôi</h2>
                    <div class="bt-option">
                        <a href="./home.html">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="rooms-section spad">
    <div class="container">
        <div class="row" id="RoomTypeList">
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="~/sona-master/img/room/room-1.jpg" alt="" />
                    <div class="ri-text">
                        <h4>Premium King Room</h4>
                        <h3>159$<span>/Pernight</span></h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Size:</td>
                                    <td>30 ft</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Capacity:</td>
                                    <td>Max persion 3</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Bed:</td>
                                    <td>King Beds</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Services:</td>
                                    <td>Wifi, Television, Bathroom,...</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#" class="primary-btn">More Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="~/sona-master/img/room/room-2.jpg" alt="">
                    <div class="ri-text">
                        <h4>Deluxe Room</h4>
                        <h3>159$<span>/Pernight</span></h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Size:</td>
                                    <td>30 ft</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Capacity:</td>
                                    <td>Max persion 5</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Bed:</td>
                                    <td>King Beds</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Services:</td>
                                    <td>Wifi, Television, Bathroom,...</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#" class="primary-btn">More Details</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="room-pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">Next <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $.ajax({
        url: '/TypeOfRoom/gets',
        method: 'GET',
        dataType: 'JSON',
        success: function (response) {
            $('#tbTypeOfRoom>tbody').empty();
            $.each(response.data, function (i, v) {
                $('#tbTypeOfRoom>tbody').append(
                    `<tr>
                        <td>${v.id}</td>
                        <td>${v.name}</td>
                        <td>${v.amountAdults}</td>
                        <td>${v.amountChild}</td>
                        <td>${v.pricePerNight}</td>
                        <td>${v.statusName}</td>
                        <td align="center">
                            <a href="javascript:void(0)" class="btn btn-warning"
                                onclick="typeOfRoom.ModalManagementImage(${v.id},'${v.name}')">
                                    Quản lí ảnh
                            </a>
                            <button class="btn btn-info"
                            onclick="typeOfRoom.edit(${v.id},'${v.name}',${v.amountAdults},
                            ${v.amountChild},${v.pricePerNight},${v.status})">Chỉnh sửa</button>
                            <a href="javascript:void(0)" onclick="typeOfRoom.delete(${v.id},${v.status})"
                                class="btn btn-danger"> Xóa
                            </a>
                        </td>
                    </tr>`
                );
            });
        }
    });
    $("RoomTypeList")
</script>