
@{
    Layout = "_LayoutAdmin";
}

<div class=" row">
    <a href="javascript:void(0);" class="btn btn-info" onclick="typeOfRoom.openModal()">Tạo mới</a>

    <table id="tbTypeOfRoom" class="table table-bordered mt-2">
        <thead class="thead-dark">
            <tr>
                <th>Mã loại phòng</th>
                <th>Tên loại phòng</th>
                <th>Người lớn</th>
                <th>Trẻ em</th>
                <th>Giá tiền</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- The Modal -->
<div class="modal" id="addEditTypeOfRoomModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Loại phòng</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="frmAddEditTypeOfRoom">
                    <input hidden name="Id" id="Id" value="0" />
                    <div class="row form-group">
                        <label for="Name" class="col-3">Tên loại phòng</label>
                        <div class="col-9">
                            <input type="text" class="form-control" placeholder="Tên loại phòng"
                                   id="Name" name="Name"
                                   data-rule-required="true"
                                   data-msg-required="Tên loại phòng phải được nhập">
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="AmountAdults" class="col-3">Người lớn</label>
                        <div class="col-9">
                            <input type="number" class="form-control" placeholder="Số lượng người lớn"
                                   id="AmountAdults" name="AmountAdults"
                                   data-rule-required="true"
                                   data-msg-required="Số lượng người lớn phải được nhập">
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="AmountChild" class="col-3">Trẻ em</label>
                        <div class="col-9">
                            <input type="number" class="form-control" placeholder="Số lượng Trẻ em"
                                   id="AmountChild" name="AmountChild"
                                   data-rule-required="true"
                                   data-msg-required="Số lượng trẻ em phải được nhập">
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="PricePerNight" class="col-3">Giá tiền</label>
                        <div class="col-9">
                            <input type="number" class="form-control" placeholder="Giá tiền"
                                   id="PricePerNight" name="PricePerNight"
                                   data-rule-required="true"
                                   data-msg-required="Giá tiền phải được nhập">
                        </div>
                    </div>

                    <div class="row form-group" id="st">
                        <label for="Status" class="col-3">Trạng thái</label>
                        <div class="col-9">
                            <select class="form-control" id="Status" name="Status">
                            </select>
                        </div>
                    </div>

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-success" onclick="typeOfRoom.save()">Lưu</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeButton">Đóng lại</button>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/typeOfRoom.js" asp-append-version="true"></script>
}
